.status-panel {
  display: table;
  position: relative;
  width: 100%;

    .status-panel-annotation_row {
        display: table-row;
        height: 25%;
        text-align: left;
        font-size: 0.85rem;
    }

    .status_name_row {
        display: table-row;
        height: 10%;
    }

    .status_alerts_row {
        display: table-row;
    }

  & > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }

  .ok-text, .warning-text, .fail-text, .gray-text{
    display: none;
    font-size: 3.5rem;
  }
}

.error-state {
  background-color: red;
  .fail-text {
    display: block;
  }
}

.warn-state {
  background-color: orange;
  .warning-text {
    display: block;
  }
}

.ok-state {
  background-color: green;
  .ok-text {
    display: block;
  }
}

.gray-state {
  background-color: gray;
  .gray-text {
    display: block;
  }
}

.gray-state .st-card-back{
  display: none;
}

.st-card {
  position: relative;
  text-align: center;
}

.st-card-front,
.st-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.st-card-front,
.st-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-card.effect-hover .st-card-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.st-card.effect-hover:hover:not(.gray-state) .st-card-front, .st-card.effect-hover.flipped:not(.gray-state) .st-card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.st-card.effect-hover:hover:not(.gray-state) .st-card-back, .st-card.effect-hover.flipped:not(.gray-state) .st-card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.st-card:not(.effect-hover):not(.gray-state) .st-card-front {
  display: none;
}


.no-data-state {
	background-color: gray;
}

.disabled-state {
	background-color: gray;
}
