.status-panel {
	display: table;
	position: relative;
	width: 100%;
	text-align: center;

	.status-panel-annotation_row {
		display: table-row;
		height: 25%;
		text-align: left;
		font-size: 0.85rem;
	}

	.status_name_row {
		display: table-row;
		height: 10%;
	}

	.status_alerts_row {
		display: table-row;
	}

	h1 {
		font-size: 1.5rem;
	}
}

.row-overflow {
	max-width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.error-state {
	background-color: red;
}

.warn-state {
	background-color: orange;
}

.ok-state {
	background-color: green;
}

.no-data-state {
	background-color: gray;
}

.disabled-state {
	background-color: gray;
}
