.status-panel {
  display: table;
  position: relative;
  width: 100%;

  & > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.status-panel-annotation {
  font-size: 0.85rem;
  text-align: left;
  vertical-align: text-top;
}

.error-state {
  background-color: red;
}

.warn-state {
  background-color: orange;
}

.ok-state {
  background-color: green;
}

.no-data-state {
  background-color: gray;
}

.disabled-state {
  background-color: gray;
}
