.status-panel {
	display: table;
	position: relative;
	width: 100%;

	> div{
	  display: flex;
	  flex-flow: column nowrap;
	  justify-content: center;
	  align-items: center;
	  font-size: 1.5rem
	}


	h1 {
		font-size: 1.5rem;
	}

	.status-panel-annotation_row {
		position: absolute;
		top: 0;
		width: 100%;
		text-align: left;
		font-size: 0.85rem;
	}

	.ok-text, .warning-text, .fail-text, .no-data-text, .disabled-text{
		display: none;
		font-size: 2.5rem;
	}

	.status_name_row {
		display: table-row;
		height: 10%;
		padding-top: 10px;
	}
}

.error-state {
  background-color: red;
  .fail-text {
    display: block;
  }
}

.warn-state {
  background-color: orange;
  .warning-text {
    display: block;
  }
}

.ok-state {
  background-color: green;
  .ok-text {
    display: block;
  }
}

.no-data-state {
  background-color: gray;
  .no-data-text {
    display: block;
  }
}

.disabled-state {
	background-color: gray;
	.disabled-text {
		display: block;
	}
}

.no-data-state .st-card-back, .disabled-state .st-card-back{
  display: none;
}

.st-card {
  position: relative;
  text-align: center;
}

.st-card-front,
.st-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.st-card-front,
.st-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-card.effect-hover .st-card-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.st-card.effect-hover:hover:not(.no-data-state):not(.disabled-state) .st-card-front, .st-card.effect-hover.flipped:not(.no-data-state):not(.disabled-state) .st-card-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.st-card.effect-hover:hover:not(.no-data-state) .st-card-back, .st-card.effect-hover.flipped:not(.no-data-state) .st-card-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.st-card:not(.effect-hover):not(.no-data-state):not(.disabled-state) .st-card-front {
  display: none;
}

.no-data-state {
	background-color: gray;
}

.disabled-state {
	background-color: gray;
}
