.status-panel {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;

	h1 {
		font-size: 1.5rem;
	}

	.st-card-front {
		position: absolute;
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.st-card-back {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		.top_section {
			.status-panel-annotation_row {
				text-align: left;
				font-size: 0.85rem;

				.row-overflow {
					max-width: 150px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.bottom_section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;

			.status_name_row {
			}

			.status_alerts_row {
				min-height: 1px;

				.status_extra_alerts {
					padding-top: 2px;
					font-size: 0.85rem;
				}
			}
		}

		.center_content_hidden_section {
			min-height: 1px;
		}
	}

	.st-card-front,
	.st-card-back {
		backface-visibility: hidden;
		transition: transform 0.5s;
	}
}

.marquee_container {
	overflow: hidden;

	.marquee_element {
		backface-visibility: hidden;
		transition: transform 0.5s;

		display: inline-block;
		animation: marquee_container 15s linear infinite;
	}

	.marquee_element:hover {
		animation-play-state: paused;
	}
}

/* Make it move */
@keyframes marquee_container {
	0%   { transform: translate(0, 100%); }
	100% { transform: translate(0, -100%); }
}

.st-card-front {
	.ok-text, .warning-text, .fail-text, .no-data-text, .disabled-text {
		display: none;
		font-size: 2.0rem;
	}
}

.ok-state {
	.ok-text {
		display: block;
	}
}

.warn-state {
	.warning-text {
		display: block;
	}
}

.error-state {
	.fail-text {
		display: block;
	}
}

.no-data-state {
	.no-data-text {
		display: block;
	}
}

.disabled-state {
	.disabled-text {
		display: block;
	}
}

.st-card.effect-hover .st-card-back {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.st-card.effect-hover:hover .st-card-front, .st-card.effect-hover.flipped .st-card-front {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.st-card.effect-hover:hover .st-card-back, .st-card.effect-hover.flipped .st-card-back {
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

.st-card:not(.effect-hover) .st-card-front {
	display: none;
}

.boldAlertMetric {
	font-weight: bold;
}

.italicAlertMetric {
	font-style: italic;
}
