<div>
  <strong>Note:</strong> Every measurement has to have a unique <strong>Alias</strong> to be used
</div>

<div ng-show="ctrl.duplicates">
  <h1>Duplicates</h1>
</div>

<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">{{ measurement.alias }}</h5>
    <div class="gf-form">
      <span class="gf-form-label width-11">Panel Title</span>
      <input type="text" ng-model="ctrl.panel.clusterName" class="gf-form-input max-width-11" ng-change="ctrl.onRender()">
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-11">
        Remove Prefix
        <info-popover mode="right-normal">
          A prefix to remove from the name (helps when repeating panel over a template)
        </info-popover>
      </span>
      <input type="text" ng-model="ctrl.panel.namePrefix" class="gf-form-input max-width-11" ng-change="ctrl.onRender()">
    </div>
  </div>
</div>

<div ng-hide="ctrl.duplicates">
  <div class="editor-row" ng-repeat="measurement in ctrl.measurements">
    <div class="section gf-form-group">
      <h5 class="section-heading">{{ measurement.alias }} Thresholds</h5>
      <div class="gf-form">
        <span class="gf-form-label width-11">
          Warning
        </span>
        <input type="number" name="warn" ng-model="measurement.warn" class="gf-form-input max-width-11" ng-change="ctrl.onRender()" required />
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-11">
          Critical
        </span>
        <input type="number" name="crit" ng-model="measurement.crit" class="gf-form-input max-width-11" ng-change="ctrl.onRender()" required />
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-11">
          Aggregation
          <info-popover mode="right-normal">
            What to do if the query returns multiple data points.<br />
            <strong>Note:</strong> 'None' will select the first value.
          </info-popover>
        </span>
        <div class="gf-form-select-wrapper max-width-11">
          <select class="gf-form-input"
                  ng-init="measurement.aggregation =
                    (measurement.aggregation ? measurement.aggregation : ctrl.aggregations[0])"
                  ng-model="measurement.aggregation"
                  ng-options="t for t in ctrl.aggregations"
                  ng-change="ctrl.onRender()"
                  required></select>
        </div>
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-11">
          Measurement URL
          <info-popover mode="right-normal">
            Make the name of the measurement clickable, and send the user to a link (with explanations what to do when this error occurs)
          </info-popover>
        </span>
        <input type="text" name="crit" ng-model="measurement.url" class="gf-form-input" style="width: 300px" ng-change="ctrl.onRender()" />
      </div>
      <gf-form-switch class="gf-form"
                      label-class="width-11"
                      tooltip="This field will always be displayed with it's value"
                      label="Show Value" checked="measurement.display"
                      on-change="ctrl.render()"></gf-form-switch>
    </div>
  </div>
</div>
