<div>
	<strong>Note:</strong> Every metric has to have a unique <strong>Alias</strong> to be used<br/><br/>
</div>

<div ng-show="ctrl.duplicates">
	<strong>Error</strong>: There are multiple metrics with the same alias. Please give each metric a unique name.
</div>

<div class="editor-row">
	<!--General section-->
	<div class="section gf-form-group">
		<h5 class="section-heading">Panel Options</h5>
		<div class="gf-form">
			<span class="gf-form-label width-12">Panel Title</span>
			<input type="text" ng-model="ctrl.panel.clusterName" class="gf-form-input max-width-12" ng-change="ctrl.onRender()">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-12">
				Remove Prefix
				<info-popover mode="right-normal">
					A prefix to remove from the name (helps when repeating panel over a template)
				</info-popover>
			</span>
			<input type="text" ng-model="ctrl.panel.namePrefix" class="gf-form-input max-width-12" ng-change="ctrl.onRender()">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-12">
				Max Alerts
				<info-popover mode="right-normal">
					Max alerts number to show in the panel. In case value is not configured, show all alerts
				</info-popover>
			</span>
			<input type="number" ng-model="ctrl.panel.maxAlertNumber" class="gf-form-input max-width-12" ng-change="ctrl.onRender()">
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-12">
				Corner Radius (%)
				<info-popover mode="right-normal">
					The corner radius to apply the panel.<br>
					Values can be between 0% - 50%.<br>
					0% for rectangle, 50% for circle / ellipse
				</info-popover>
			</span>
			<input type="number" ng-model="ctrl.panel.cornerRadius" class="gf-form-input max-width-12" ng-change="ctrl.onRender()">
		</div>
	</div>

	<!--Flip card section-->
	<div class="section gf-form-group">
		<h5 class="section-heading">Flip Options</h5>
		<gf-form-switch class="gf-form"
						label-class="width-12"
						label="Flip card" checked="ctrl.panel.flipCard"
						on-change="ctrl.onRender()"></gf-form-switch>
		<div class="gf-form">
			<span class="gf-form-label width-12">Flip interval</span>
			<input type="text" ng-model="ctrl.panel.flipTime" class="gf-form-input max-width-5" ng-change="ctrl.onRender()">
		</div>
	</div>

	<!--Threshold Preferences-->
	<div class="section gf-form-group">
		<h5 class="section-heading">Threshold Preferences</h5>
		<div class="gf-form">
			<span class="gf-form-label width-9">
					Font Format
					<info-popover mode="right-normal">
						The metric text font format in disable, warning or critical state
					</info-popover>
				</span>
			<div class="gf-form-select-wrapper max-width-12">
				<select class="gf-form-input"
						ng-init="ctrl.panel.fontFormat = (ctrl.panel.fontFormat ? ctrl.panel.fontFormat : ctrl.fontFormats[0])"
						ng-model="ctrl.panel.fontFormat"
						ng-options="t for t in ctrl.fontFormats"
						ng-change="ctrl.onRender()"
						required></select>
			</div>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-9">
				Coloring
				<info-popover mode="right-normal">
					<strong>Panel</strong> - Apply color to the panel background<br/>
					<strong>Metric</strong> - Apply color to the metric text<br/>
					<strong>Disabled</strong> - Do not apply any coloring<br/>
				</info-popover>
			</span>
			<div class="gf-form-select-wrapper max-width-12">
				<select class="gf-form-input"
						ng-model="ctrl.panel.colorMode"
						ng-options="t for t in ctrl.colorModes"
						ng-change="ctrl.onRender()"
						required></select>
			</div>
		</div>
		<div class="gf-form">
			<label class="gf-form-label width-9">Colors</label>
			<span class="gf-form-label">
				<color-picker color="ctrl.panel.colors.crit" bs-tooltip="'Critical'" onChange="ctrl.onColorChange('crit')"></color-picker>
			</span>
			<span class="gf-form-label">
				<color-picker color="ctrl.panel.colors.warn" bs-tooltip="'Warning'" onChange="ctrl.onColorChange('warn')"></color-picker>
			</span>
			<span class="gf-form-label">
				<color-picker color="ctrl.panel.colors.ok" bs-tooltip="'OK'" onChange="ctrl.onColorChange('ok')"></color-picker>
			</span>
			<span class="gf-form-label">
				<color-picker color="ctrl.panel.colors.disable" bs-tooltip="'Disabled'" onChange="ctrl.onColorChange('disable')"></color-picker>
			</span>
		</div>
	</div>

	<!--Other Option-->
	<div class="section gf-form-group">
		<h5 class="section-heading">Other Options</h5>
		<gf-form-switch class="gf-form"
						label-class="width-15"
						label="Auto scroll alerts on overflow" checked="ctrl.panel.isAutoScrollOnOverflow"
						on-change="ctrl.onRender()"></gf-form-switch>
		<gf-form-switch class="gf-form"
						label-class="width-15"
						label="Use 'Disable' color if no data" checked="ctrl.panel.isGrayOnNoData"
						on-change="ctrl.onRender()"></gf-form-switch>
		<gf-form-switch class="gf-form"
						label-class="width-15"
						label="Ignore color in OK state" checked="ctrl.panel.isIgnoreOKColors"
						on-change="ctrl.onRender()"></gf-form-switch>
		<gf-form-switch class="gf-form"
						label-class="width-15"
						label="Hide alerts in Disabled state" checked="ctrl.panel.isHideAlertsOnDisable"
						on-change="ctrl.onRender()"></gf-form-switch>
	</div>
</div>

<div>
	<div class="editor-row" ng-repeat="measurement in ctrl.measurements">

		<!--Metrics options header-->
		<h5 class="section-heading" ng-if="measurement.alias">{{ measurement.alias }}</h5>
		<div ng-if="!measurement.alias">
			<h5 class="section-heading">Metric: {{ measurement.refId }}</h5>
			<div>Please enter an alias for this measurement bellow</div>
		</div>

		<!--Display Settings-->
		<div class="section gf-form-group">
			<h5 class="section-heading">Display Settings</h5>

			<!--Alias-->
			<div class="gf-form">
				<span class="gf-form-label width-12">
				  Alias
				</span>
				<input type="text" name="alias" ng-model="measurement.alias" class="gf-form-input max-width-12" ng-change="ctrl.onRender()" required />
			</div>

			<!--Aggregation-->
			<div class="gf-form">
				<span class="gf-form-label width-12">
				  Aggregation
				  <info-popover mode="right-normal">
					What to do if the query returns multiple data points.
				  </info-popover>
				</span>
				<div class="gf-form-select-wrapper max-width-12">
					<select class="gf-form-input"
							ng-init="measurement.aggregation = (measurement.aggregation ? measurement.aggregation : ctrl.aggregations[0])"
							ng-model="measurement.aggregation"
							ng-options="t for t in ctrl.aggregations"
							ng-change="ctrl.onRender()"
							required></select>
				</div>
			</div>

			<!--Metric Display Regex-->
			<div class="gf-form">
				<span class="gf-form-label width-12">
				  Value Regex
				  <info-popover mode="right-normal">
					  A regex which will decide the part of the value to be displayed. <br/>
					  In case the regex is empty or it doesn't match any part of the metrics value, all the metric value will be displayed.
				  </info-popover>
				</span>
				<input type="text" name="valueDisplayRegex" ng-model="measurement.valueDisplayRegex" class="gf-form-input max-width-12" ng-change="ctrl.onRender()" />
				<div ng-if="!ctrl.validateRegex(measurement.valueDisplayRegex)" style="color: red; padding-left: 5px">
					Invalid Regex
				</div>
			</div>

			<!--Metric URL-->
			<div class="gf-form">
				<span class="gf-form-label width-12">
				  Metric URL
				  <info-popover mode="right-normal">
					Make the name of the metric clickable, and send the user to a link (with explanations what to do when this error occurs)
				  </info-popover>
				</span>
				<input type="text" name="url" ng-model="measurement.url" class="gf-form-input" style="width: 300px" ng-change="ctrl.onRender()" />
			</div>
		</div>

		<div class="section gf-form-group">
			<h5 class="section-heading">Metric display type</h5>

			<!--Metric Handler Type-->
			<div class="gf-form">
				<span class="gf-form-label width-12">
					Handler Type
				  <info-popover mode="right-normal">
					The type of data to show to the panel<br/>
					<strong>Note:</strong> 'Threshold' will select the first value. <br/> <br/>
					<strong>Threshold</strong> - Change background color of the panel if got warning / error + show the alias of the problematic metrics.
					Choose Number, String or Date versions to provide formatting options. Note: Date Threshold assumes Unix Timestamps (i.e. milliseconds since Unix Epoch)<br/>
					<strong>Disable Criteria</strong> - Change background color of the panel to grey if disabled. <br/>
					<strong>Text Only</strong> - Show the alias + the value on the panel without any condition.
				  </info-popover>
				</span>
				<div class="gf-form-select-wrapper max-width-14">
					<select class="gf-form-input"
							ng-init="measurement.valueHandler = (measurement.valueHandler ? measurement.valueHandler : ctrl.valueHandlers[0])"
							ng-model="measurement.valueHandler"
							ng-options="t for t in ctrl.valueHandlers"
							ng-change="ctrl.onHandlerChange(measurement)"
							required></select>
				</div>
			</div>

			<!--Display Position-->
			<div class="gf-form" ng-if="measurement.valueHandler != 'Disable Criteria'">
				<span class="gf-form-label width-12">
				  Display Position
				  <info-popover mode="right-normal">
					The location the value will be displayed<br/>
					<strong>Regular</strong> - The alias + the value will be display in the center, under the panel title<br/>
					<strong>Annotation</strong> - The alias + the value will be displayed on top left. If the value answers a threshold condition, it will displayed as regular state<br/>
				  </info-popover>
				</span>
				<div class="gf-form-select-wrapper max-width-14">
					<select class="gf-form-input"
							ng-init="measurement.displayType = (measurement.displayType ? measurement.displayType : ctrl.displayTypes[0])"
							ng-model="measurement.displayType"
							ng-options="t for t in ctrl.displayTypes"
							ng-change="ctrl.onRender()"
							required></select>
				</div>
			</div>
			<div ng-if="measurement.valueHandler == 'Number Threshold'">
				<!--Units-->
				<div class="gf-form">
					<span class="gf-form-label width-12">
						Units
						<info-popover mode="right-normal">
							Format the Number Threshold with units of measure<br />
						</info-popover>
					</span>
					<div class="gf-form-dropdown-typeahead max-width-14"
						 ng-init="measurement.units = (measurement.units ? measurement.units : 'none')"
						 ng-model="measurement.units"
						 dropdown-typeahead2="ctrl.unitFormats"
						 dropdown-typeahead-on-select="ctrl.setUnitFormat(measurement, $subItem)">
					</div>
				</div>
				<!--Decimals-->
				<div class="gf-form">
					<span class="gf-form-label width-12">
						Decimals
						<info-popover mode="right-normal">
							Override automatic decimal precision for numbers<br />
						</info-popover>
					</span>
					<input type="number" name="decimals" ng-model="measurement.decimals"
						   ng-init="measurement.decimals = (measurement.decimals!=undefined ? measurement.decimals : 2)"
						   placeholder="auto" class="gf-form-input max-width-14" ng-change="ctrl.onRender()" />
				</div>
			</div>
			<div ng-if="measurement.valueHandler == 'Date Threshold'">
				<!--Date Format-->
				<div class="gf-form">
					<span class="gf-form-label width-12">
					    Format
						<info-popover mode="right-normal">
							Specify the Date/Time format (Use 'lll' for local date/time format)<br />
						</info-popover>
					</span>
					<input class="input-medium gf-form-input max-width-14" type="text"
						   ng-init="measurement.dateFormat = (measurement.dateFormat ? measurement.dateFormat : 'YYYY-MM-DD HH:mm:ss')"
						   ng-model="measurement.dateFormat"
						   ng-change="ctrl.onRender()"
						   ng-model-onblur>
				</div>
			</div>
		</div>

		<div class="section gf-form-group">
			<!--Threshold Section-->
			<div ng-if="measurement.valueHandler == 'Number Threshold' || measurement.valueHandler == 'String Threshold' || measurement.valueHandler == 'Date Threshold'">
				<h5 class="section-heading">Threshold
					<info-popover mode="normal">
						The Warning and Critical fields get numbers, strings or dates. <br/>
						In case both of them are numbers or dates, the thresholds will be used as ranges, and metric value will be checked if it is in the warning/critical ranges.<br/>
						In case one of them is string, the thresholds will check equality to the value.
					</info-popover>
				</h5>

				<!--Warning threshold-->
				<div class="gf-form">
					<span class="gf-form-label width-12">
					  Warning
					</span>
					<input type="number" ng-if="measurement.valueHandler == 'Number Threshold'"
						   name="warn" ng-model="measurement.warn" class="gf-form-input max-width-14" ng-change="ctrl.onRender()" required />
					<input type="text" ng-if="measurement.valueHandler == 'String Threshold'"
						   name="warn" ng-model="measurement.warn" class="gf-form-input max-width-14" ng-change="ctrl.onRender()" required />
					<input type="datetime-local" ng-if="measurement.valueHandler == 'Date Threshold'"
						   name="warn" ng-model="measurement.warn" class="gf-form-input max-width-14" ng-change="ctrl.onRender()" required />
				</div>

				<!--Critical threshold-->
				<div class="gf-form">
					<span class="gf-form-label width-12">
					  Critical
					</span>
					<input type="number" ng-if="measurement.valueHandler == 'Number Threshold'"
						   name="crit" ng-model="measurement.crit" class="gf-form-input max-width-14" ng-change="ctrl.onRender()" required />
					<input type="text" ng-if="measurement.valueHandler == 'String Threshold'"
						   name="crit" ng-model="measurement.crit" class="gf-form-input max-width-14" ng-change="ctrl.onRender()" required />
					<input type="datetime-local" ng-if="measurement.valueHandler == 'Date Threshold'"
						   name="crit" ng-model="measurement.crit" class="gf-form-input max-width-14" ng-change="ctrl.onRender()" required />
				</div>

				<!--Display Value Type-->
				<div class="gf-form">
					<span class="gf-form-label width-12">
					  Display Alias
					  <info-popover mode="right-normal">
						When to display the alias<br/>
						<strong>Warning / Critical</strong> - The alias will be displayed in warning or critical state<br/>
						<strong>Always</strong> - The alias will always be displayed, regardless critical and warning state<br/>
					  </info-popover>
					</span>
					<div class="gf-form-select-wrapper max-width-14">
						<select class="gf-form-input"
								ng-init="measurement.displayAliasType = (measurement.displayAliasType ? measurement.displayAliasType : ctrl.displayAliasTypes[0])"
								ng-model="measurement.displayAliasType"
								ng-options="t for t in ctrl.displayAliasTypes"
								ng-change="ctrl.onRender()"
								required></select>
					</div>
				</div>
				<div class="gf-form">
					<span class="gf-form-label width-12">
					  Display Value
					  <info-popover mode="right-normal">
						  When to display the value along with the alias<br/>
						  <strong>Never</strong> - The value will never be displayed<br/>
						  <strong>When Alias Displayed</strong> - The value will be displayed always when alias is displayed<br/>
						  <strong>Warning / Critical</strong> - The value will be displayed in warning or critical state<br/>
						  <strong>Critical Only</strong> - The value will be displayed in critical only
					  </info-popover>
					</span>
					<div class="gf-form-select-wrapper max-width-14">
						<select class="gf-form-input"
								ng-init="measurement.displayValueWithAlias = (measurement.displayValueWithAlias ? measurement.displayValueWithAlias : ctrl.displayValueTypes[0])"
								ng-model="measurement.displayValueWithAlias"
								ng-options="t for t in ctrl.displayValueTypes"
								ng-change="ctrl.onRender()"
								required></select>
					</div>
				</div>
			</div>

			<!--Disable Section-->
			<div ng-if="measurement.valueHandler == 'Disable Criteria'">
				<h5 class="section-heading">Disable Criteria</h5>

				<!--Disable Criteria-->
				<div class="gf-form">
					<span class="gf-form-label width-12">
					  Disable Value
					   <info-popover mode="right-normal">
					  The exact value which will make this panel to be displayed as disabled <br />
					</info-popover>
					</span>
					<input type="text" name="disabledValue" ng-model="measurement.disabledValue" class="gf-form-input max-width-12" ng-change="ctrl.onRender()" required />
				</div>
			</div>
		</div>
	</div>
</div>
