<div class="status-panel">
  <div>
    <h1>
      <a ng-href="{{ 'dashboard/' + ctrl.uri | interpolateTemplateVars:this }}" target="_blank" ng-show="ctrl.uri">
        {{ ctrl.panel.displayName | interpolateTemplateVars:this }}
      </a>
      <span ng-hide="ctrl.uri">
        {{ ctrl.panel.displayName | interpolateTemplateVars:this }}
      </span>
    </h1>

    <div ng-repeat="display in ctrl.display">
      <a ng-show="display.url" ng-href="{{ display.url }}" target="_blank">{{ display.alias }}</a>
      <span ng-hide="display.url">{{ display.alias }}</span>
      <span ng-show="display.display"> - {{ display.display_value }}</span>
    </div>
    <div ng-repeat="crit in ctrl.crit">
      <a ng-show="crit.url" ng-href="{{ crit.url }}" target="_blank">{{ crit.alias }}</a>
      <span ng-hide="crit.url">{{ crit.alias }}</span>
      <span ng-show="crit.display"> - {{ crit.display_value }}</span>
    </div>
    <div ng-repeat="warn in ctrl.warn">
      <a ng-show="warn.url" ng-href="{{ warn.url }}" target="_blank">{{ warn.alias }}</a>
      <span ng-hide="warn.url">{{ warn.alias }}</span>
      <span ng-show="warn.display"> - {{ warn.display_value }}</span>
    </div>
  </div>
</div>
